body {
  background-color: #f6f6f6;
  text-align: center;
  font-family: 'roboto';
  font-size: 14px;
  padding: 0 15px;
}

header {
  overflow: hidden;
  max-width: 1200px;
  margin: auto auto 20px;
  padding: 40px 0 20px;
  border-bottom: 1px solid #e5e5e5;
}

section {
  margin: auto;
  max-width: 1200px;
}

.App {

}

.App-title {
  margin: 0;
  float: left;
}

.Search {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  height: 30px;
  margin-left: 20px;
  padding: 0 10px;
  border-radius: 3px;
  float: left;
  transition: border 200ms;
}

.Search:focus {
  outline: 0;
  border-color: #3366CC;
  transition: border 200ms;
}

.Button-new {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;
  color: #484848;
  font-weight: 500;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  height: 50px;
  padding: 0 10px;
  float: right;
  cursor: pointer;
}

.Button-new:focus {
  outline: 0;
}

.Field {
  color: #484848;
  width: 100%;
  padding: 0 5px 5px;
  height: 20px;
  border:0;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  transition: border 200ms;
}

.Field:focus {
  outline: 0;
  border-bottom-color: #3366CC;
  transition: border 200ms;
}

.Bookmark {
  background-color: #fff;
  display: grid;
  grid-template-columns: [col] 45% [col] auto [col] 80px;
  grid-template-rows: [row] auto [row] auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.Bookmark-title {
  grid-column: col;
  grid-row: row;
  text-align: left;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}

.Bookmark-url {
  grid-column: col 2;
  grid-row: row;
  text-align: left;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  color: #888;
}

.Bookmark-tags {
  grid-column: col / span 2;
  grid-row: row 2;
  text-align: left;
}

.Tag-item {
  align-self: center;
  background-color: rgba(51, 122, 183, 0.1);
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  margin-right: 8px;
  margin-bottom: 5px;
}

.Tag-text {
  color: #337AB7;
  font-size: 12px;
  padding: 0 10px;
}

.Tag-remove {
  color: #484848;
  display: inline-block;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.Tag-add {
  color: #337AB7;
  font-weight: 500;
  display: inline-block;
  line-height: 20px;
  width: 20px;
  text-align: center;
}

.Bookmark-actions {
  grid-column: col 3;
  grid-row: row / span 2;
  text-align: right;
}

.Bookmark-actions .icon {
  vertical-align: middle;
  cursor: pointer;
}

.Bookmark-confirm,
.Bookmark-cancel,
.Bookmark-edit,
.Bookmark-delete {
  display: inline-block;
  margin: 0 5px;
}
